body {
  background-color: #001301 !important;
}
.mb {
  margin-bottom: 200px;
}
.paragraph {
  color: #d1d4dc;
}

/* navbar style css */
.nav-item a {
  font-size: 20px;
}
.app {
  background-color: #49ff4e;
}

/* banner style css */
.banner_bg {
  background-image: url("../../assets/banner-bg.png");
  background-position: left top;
  background-repeat: no-repeat;
}
.title {
  font-size: 24px;
  background: linear-gradient(90deg, #ffffff 0%, #acb1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.31em;
}
.title_color {
  background: linear-gradient(90deg, #ffffff 0%, #919399 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}
.banner_header {
  font-weight: 600;
  font-size: 90px;
  line-height: 109px;
  letter-spacing: 0.01em;
}
h1.banner_header {
  display: inline;
}
span.banner_header {
  color: #49ff4e !important;
  display: inline;
}
.banner_content {
  color: #d1d4dc;
}

.brand img {
  background-color: #012002;
  padding: 15px 50px;
  margin: 10px 5px;
  border-image: linear-gradient(#00700378, #5293005e) 1;
  border-width: 1px;
  border-style: solid;
}

.chart {
  position: relative;
}
.briefcase {
  position: absolute;
  top: 118px;
  left: -88px;
}
.market-cup {
  position: absolute;
  bottom: 22px;
  left: 121px;
}
/* Ecosystem section css */
.ecosystem {
  background: linear-gradient(#001301, #001301) padding-box,
    linear-gradient(30deg, #001301 7.67%, #18771b 54.04%, #001301 93.82%)
      border-box;
  border: 1px solid transparent;
  border-radius: 25px;
}

.ecosystem img{
    background-image: url('./assets/govewrnase-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 40px;
}
.powering_bg{
    background-image: url('./assets/powering-bg.png');
    background-position: left center;
    background-repeat: no-repeat;
}
.key_market_bg{
    background-image: url('./assets/key-market-bg.png');
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}

.key_market{
    background-image: linear-gradient(195.59deg, #082300 11.43%, rgba(8, 157, 10, 0.26) 90.69%);
    padding: 25px;
    border-radius: 50%;
}

.key_market_box{
    background-image: linear-gradient(0.29deg, #070C00 0.26%, #0F1A02 99.75%);
    border-radius: 8px;;
    border: 2px solid green;
    clip-path: polygon(68% 0, 100% 35%, 100% 100%, 0 100%, 0 0);
}



/* footer style css */
.footer {
  background-color: #0b1200;
}

.bot-left {
  border: double 2px transparent;
  border-radius: 80px;
  display: inline-block;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.bot-left p {
  padding: 20px;
}
